.profileImgSm {
  width: 100%;
  height: 300px;
}

.profileImgLg {
  width: 100%;
  height: 700px;
}

.highlight {
  color: #7597cd;
  font-family: 'Heebo', sans-serif;
}

a.highlight {
  color: #7597cd;
  text-decoration-thickness: 2px;
}
